
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registro</title>

<style>
body{
font-family:Arial;
background:linear-gradient(135deg,#4f46e5,#7c3aed);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:white;
padding:35px;
border-radius:20px;
width:420px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

input{
width:100%;
padding:12px;
margin-top:5px;
border:1px solid #ddd;
border-radius:10px;
}

.btn{
width:100%;
padding:12px;
background:#4f46e5;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}
</style>
</head>

<body>

<div class="card">

<h1>Crear Cuenta</h1>

<form action="/registro" method="POST">

<input type="text" name="nombre" placeholder="Nombre completo" required>

<br><br>

<input type="email" name="correo" placeholder="Correo electrónico" required>

<br><br>

<input
type="password"
name="password"
required
placeholder="Contraseña">

{% if error %}
<div class="error">
    {{ error }}
</div>
{% endif %}

<p>
✓ 8 caracteres mínimo<br>
✓ Una mayúscula<br>
✓ Una minúscula<br>
✓ Un número<br>
✓ Un símbolo
</p>

<button class="btn" type="submit">
Registrarse
</button>

</form>

<br>

<a href="/login">Ya tengo cuenta</a>

</div>

</body>
</html>

